@model IEnumerable<BankApi.Models.Transaction>

@{
    ViewBag.Title = "Transactions";
}

<h2>Transactions</h2>
@Html.ActionLink("Back to accounts", "Accounts", "BankAccount")
<br /><br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instant)
        </th>
    </tr>

@foreach (var item in Model.OrderByDescending(m => m.Instant)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instant)
        </td>
    </tr>
}

</table>